
<!--
<nav class="navbar">
    <ul >

        <li >
            <a routerLink="
            path: 'landing">
            Escalar
            </a>
        </li>

        <li >
            <a routerLink="filtros">
            Filtros
            </a>
        </li>

        <li>
            <a routerLink="opciones">
            Opciones
            </a>
        </li>

    </ul>
  </nav>

-->
<nav class="navbar">
    <ul>
        <li>
            <a routerLink="/landing">Escalar</a>
        </li>

        <li>
            <a routerLink="/filtros">Filtros</a>
        </li>
    </ul>    
</nav>

<router-outlet></router-outlet>
