<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EscalAppS</title>
</head>

<body>
    
    <main class="section-container">
        <section class="section-main">
            <h1>EscalApp</h1>
            <p class="subtitle">Tu guia interactiva de escalada en bloque</p>
        </section>
    </main>

    <div>
        <img class="imglanding" src="https://res.cloudinary.com/trescordilleras/image/upload/v1683663363/landing_3_kafwyn.jpg" />
    <!--
        <button class="btnlanding">
            <p class="subtitlebtn">Escalar</p>    
        </button>
    -->
        
            <p class="subtitlebtn">
                <a class="btnlanding" routerLink="landing">Escalar</a> 
            </p> 
           
    </div>

   


</body>

</html>
